.admin{
    position: absolute;
    left:5px;
    top:0%;
    font-size: 30px;
    line-height: 40px;
    font-weight:bold;
}
table{
    position: absolute;
    top:62.5%;
    left:50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    padding:10px;
    Border:10px solid #8C031C;
    background-color: #26010B;
    width:1800px;
    color: #D9043D;
    font-size: 30px;
    line-height: 40px;
    text-align:center;
    font-weight:bold;
}
tr, td {
    margin:auto;
    border: 5px solid #400118;
    border-spacing: 5px;
}
body{
    background-color: #0D0D0D;
}
.wrapper {
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:10px;
    border-radius: 50px;
    Border:10px solid #8C031C;
    background-color: #26010B;
    color: #D9043D;
    font-size: 30px;
    line-height: 40px;
    width:1000px;
    text-align:center;
    font-weight:bold;
}
.body {
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:10px;
    border-radius: 50px;
    Border:10px solid #8C031C;
    background-color: #26010B;
    color: #D9043D;
    font-size: 30px;
    line-height: 40px;
    width:1000px;
    text-align:center;
    font-weight:bold;
}
a{
    color: #D9043D;
}
.submit{
    font-size: 35px;
}
input{
    font-size: 40px;
    background-color: #400118;
    color: #D9043D;
    border-color: #26010B;
}
button{
    background-color: #8C031C;
    font-size: 40px;
}